h4, p {
    flex:1;
}

h1 {
    margin-top: 2em;
    align-self: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 2em;
  }

.example-full-width {
width: 100%;
}
